/* Different */
.slides section{
    align-items: center;
    margin-left: 16%;
    display: none;
   
}
 /* Different */
.slides section img{
    padding-left: 10%;
}


/* Different */
#featureSlider{
    position: relative;
    margin: auto;
    justify-content: center;
    overflow: hidden;
}

section.displaySlide{
    display: block;
    
}

button{
    border: none;
    height: 60px;
    width: 45px;
    background-color: white;
    font-weight: bolder;
    font-size: 150em;
    font-size: larger;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* to align the button to the right */
#featureLeftArrow
{
    left: 0;
}

/* to align the button to the left */
#featureRightArrow
{
    right: 0;
}
