.slider img{
    height: 200px;
    width: 70vw;
    align-items: center;
    margin-left: 16%;
    display: none;
   
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    justify-content: center;
    overflow: hidden;
}

img.displaySlide{
    display: block;
    
}

button{
    border: none;
    height: 60px;
    width: 45px;
    background: linear-gradient(to right, #23D9C4,#D9357B);
    font-size: larger;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* to align the button to the right */
#adLeftArrow
{
    left: 0;
}

/* to align the button to the left */
#adRightArrow
{
    right: 0;
}
