@import url("https://db.onlinewebfonts.com/c/a7e3822358f6dcb2f986a68cf24721b2?family=MV+Boli+V1");

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.products-container-wrapper {
  height: 80vh;
  width: 84%;
  overflow-y: auto;
}

.sellerPage.products-container-wrapper {
  width: 100%;
}

#productPageLayout {
  display: flex;
  flex-direction: row;
}
.product-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#apply {
  margin-left: 20%;
  width: 50px;
  height: 40px;
}

.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 1000;
}

.success-message.show {
  opacity: 1;
  transform: translateY(0);
}


.checkout-btn {
  margin: 10%;
  margin-left: 25%;
  width: 100px;
  height: 50px;
}

#insideFilters {
  margin: 15%;
  display: block;
}
.dropdown {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5%;
}
#sortByPrice {
  display: block;
}

#filters.shopDetails {
  padding: 20px;
  padding-left: 20%;
  padding-right: 20%;
  height: 200px;
}

#filters {
  background: linear-gradient(
    to bottom,
    rgba(217, 53, 123, 0.7),
    rgba(35, 217, 196, 0.7)
  ); /*Background becomes a gradient with some opacity  */
  border-radius: 5%;
  color: whitesmoke;
  margin-top: 3%;
  margin-left: 2%;
  width: 16%;
  height: 500px;
  display: inline-block;
}


.productHeaders {
  font-family: "MV Boli V1";
}

#sortByPrice {
  display: block;
}
