#logoHat{
  margin-top: 1%;
  margin-left: 22%;
  align-items: center;
}

@import url("https://db.onlinewebfonts.com/c/a7e3822358f6dcb2f986a68cf24721b2?family=MV+Boli+V1");

#signUpButton{
  width: 200px;
  height: 20%;
  text-wrap: tight;
  margin-top: 5%;
  font-size: large;
  margin-left: 28%;
  padding: 10px;
  background: linear-gradient(89deg, #23D9C4 0%, #D9357B 101.76%);
  color: white;
  border: none;
  align-self: center;
  border-radius: 4px;
  cursor: pointer;
}

#signUpSign
{
  font-family: "MV Boli V1";
  margin-top: -5%;
  font-weight: 700;
  margin-left: 35%;
  padding-top: 4%;
  font-size: xx-large;
}


#sectionUserType
{
  display: flex;
  align-items: center;
}

#userType {
  margin-right: 10px; /* Adjust the margin as needed */
  width: 20%;  
}

#type
{
  width: 70px;
  height: 33px;
  margin-top: 1.75%;
  font-size: medium;
  font-family: "Anek Gurmukhi";
}

input[type=text]{
  margin-left: 10%;
  width: 80%;
  border: 1px solid black;
  height: 25px;
}

label{
  font-size: large;
  text-wrap: pretty;
  width: 200px;
  margin-left: 10%;
  margin-top: 1%;
  text-align: start;
}

input[type=email]
{

  margin-left: 10%;
  width: 80%;
  height: 25px;
}

input[type=password]
{

  margin-left: 10%;
  border: 1px solid black;
  width: 80%;
  height: 25px;
}

#container
{
  background-color: white;
  width: 30%;
  height: 670px;
  align-self: center;
  margin-left: 35%;
  border-radius: 5%;
    
}

#sellerFormHeading
{
  margin-left: 20%;
  font-family: 'MV Boli V1';
  font-size: xx-large;
  margin-top: 0%;
}

#formContainer{
  background-color: white;
  width: 30%;
  height: 500px;
  align-self: center;
  margin-left: 35%;
  border-radius: 5%;

}

#signUpBackground {
  height: 100vh;
  width: auto;
  /* Set the background gradient */
  background-color: #D9357B;
  background-image: linear-gradient(to bottom left, #D9357B, #23D9C4); /* Replace colors with your desired gradient */
  /* Optional: Center and cover the background */
  background-position: center;
  background-size: cover;
  align-content: center;
  /* margin-left: 2.5%; */
  overflow: hidden;
}